<h1>Payment Form</h1>
<form action="/payment/results">
    <div>
    <label>
        Enter the interest rate
    </label>
    <input id="interest_input" type="text" name="the_user_interest_rate" placeholder="Enter interest rate">
    </div>
    <div>
    <label>
        Enter the number of years
    </label>
    <input id="years_input" type="text" name="the_user_years" placeholder="Enter a the years">
    </div>
    <div>
    <label>
        Enter the loan amount
    </label>
    <input id="principal_input" type="text" name="the_user_principal" placeholder="Enter the principal">
    </div>
    <div>
    <button>Calculate Payment</button>
    </div>
</form>