<h1>Payment Calculation</h1>
<form action="/payment/results">
    <div>
    <label>
        APR
    </label>
    <input id="interest_input" type="text" name="the_user_interest_rate" placeholder="E.g. 5.42">
    </div>
    <div>
    <label>
        Number of years
    </label>
    <input id="years_input" type="text" name="the_user_years" placeholder="How many years to repay?">
    </div>
    <div>
    <label>
        Principal
    </label>
    <input id="principal_input" type="text" name="the_user_principal" placeholder="How much principal">
    </div>
    <div>
    <button>Calculate monthly payment</button>
    </div>
</form>