<h1> Random Number</h1>
<form action="/random/results">
<div>
    <label>
        Minimum:
    </label>
    <input id="number_input" type="text" name="user_number_1" placeholder="E.g. 1.5">
    </div>
    <div>
    <label>
        Maximum:
    </label>
    <input id="number_input" type="tex" name="user_number_2" placeholder="E.g. 4.5">
    </div>
    <div>
    <button>Pick random number</button>
    </div>
    </form>